.inputBoxWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px 25px;
  font-size: 1.6rem;
  border: 2px solid #cba859;
  outline-color: #cba859;
  border-radius: 30px;
  transition: border 0.3s, outline-color 0.3s;
  background-color: #ffffff !important;
}

.inputError {
  border: 2px solid #d34848;
  outline-color: #d34848;
}

.inputWrapper {
  position: relative;
}

.inputIcon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}