.notFoundWrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 10px;
  flex-wrap: wrap;
}

.heading {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .heading {
    flex-direction: column;
    text-align: center;
  }
}
